target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.versionsBackup
local.properties
.settings/
.loadpath
.recommenders
*~
\#*\#


# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar


# Eclipse Core
.project
.classpath

# IntelliJ
.idea/
*.iml

# Visual Studio Code
.vscode/
