.delete-btn {
    float: right;
}

.createdOn {
    float: right;
    margin-right: 10px;
}

.announcement-create {
    margin-bottom: 10px;
}

.dropdown {
    margin-left: 10px;
}

.container {
    padding-bottom: 50px;
}

input[type=radio] {
    width: 15px;
    height: 15px;
}

