<div class="container">
  <h2>Material</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Material</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let material of materialList">
        <td>{{ material.id }}</td>
        <td>{{ material.name }}</td>
        <td><button class="btn btn-primary"><i class="far fa-edit"></i></button></td>
        <td><button class="btn btn-danger"><i class="far fa-trash-alt"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>
